<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="ipos" href="/tabs/ipos">
      <ion-icon aria-hidden="true" name="rocket-outline"></ion-icon>
      <ion-label>IPOs</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="analyze" href="/tabs/analyze">
      <ion-icon aria-hidden="true" name="analytics-outline"></ion-icon>
      <ion-label>Analyze</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="watchlist" href="/tabs/watchlist">
      <ion-icon aria-hidden="true" name="star-outline"></ion-icon>
      <ion-label>Watchlist</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon aria-hidden="true" name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
